<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736456729372-gsf39qa9kp4mrphpq53ilv6f962g4kkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736456729372-gsf39qa9kp4mrphpq53ilv6f962g4kkg</string>
	<key>API_KEY</key>
	<string>AIzaSyAaF87Q99Okvr1o2_d0cmNXrAVeq9vZrfA</string>
	<key>GCM_SENDER_ID</key>
	<string>736456729372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onurfidan.BMI-Calculator</string>
	<key>PROJECT_ID</key>
	<string>bmi-calculator-21351</string>
	<key>STORAGE_BUCKET</key>
	<string>bmi-calculator-21351.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736456729372:ios:47c0871e87e54f156190d9</string>
</dict>
</plist>